/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-body {
    width: 70%;
    margin: auto;

}

.page-title {
    color: #ff9800;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-title {
    color: #1a237e
}